.btn-cancel:hover {
    background: #e3342f;
    color: #fff;
}

.strikeout {
    text-decoration: line-through;
    color: #b8c2cc;
}

.strikeout:hover {
    color: #8795a1;
}

.priority {
    color: #de751f;
}

input[type="checkbox"]{
    display: inline !important;
    box-shadow: none;
    width: auto;
}